#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";

            // Row 1: Keys 1-5
            // Row 2: Keys 6-10
            // Row 3: Keys 11-15
            // Row 4: Col1=Tip, Col2=Ring, Col3=Enc1SW, Col4=Enc2SW
            // Row 5: Pedal 1-4

            bindings = <
                // Row 1 - Macropad keys 1-5
                &kp N0      &kp N1      &kp N2      &kp N3      &kp N4
                // Row 2 - Macropad keys 6-10
                &kp N5      &kp N6      &kp N7      &kp N8      &kp N9
                // Row 3 - Macropad keys 11-15
                &kp A       &kp B       &kp C       &kp D       &kp E
                // Row 4 - P10 Tip, P10 Ring, Enc1SW, Enc2SW
                &kp F       &kp G       &kp MUTE    &kp C_PP
                // Row 5 - Pedal 1-4
                &kp H       &kp I       &kp J       &kp K
            >;

            // Encoder 1: Volume  |  Encoder 2: Track skip
            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp C_NEXT C_PREV
            >;
        };
    };
};
